<nav class="navbar navbar-small">
    <div class="logo">
        <h1 class="hide">the planets</h1>
        <h2><a href="/earth">The Planets</a></h2>
    </div>
    <div class="hamburger">

    </div>
</nav>
<nav class="mobile-tabs">
    <div class="mobile-tab-link overview active-<%=name%>">overview</div>
    <div class="mobile-tab-link structure inactive active-<%=name%>">structure</div>
    <div class="mobile-tab-link surface inactive active-<%=name%>">surface</div>
</nav>
<nav class="nav-dropdown hide">
    <div class="nav-wrapper-sm">
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: #def4fc;"></div>
            <div class="navlink-sm"><a href="/">mercury</a></div>
            <div class="nav-chev"></div>
        </div>
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: var(--venus-orange);"></div>
            <div class="navlink-sm"><a href="/venus">venus</a></div>
            <div class="nav-chev"></div>
        </div>
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: var( --earth-purple);"></div>
            <div class="navlink-sm"><a href="/earth">earth</a></div>
            <div class="nav-chev"></div>
        </div>
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: #ff6a45;"></div>
            <div class="navlink-sm"><a href="/mars">mars</a></div>
            <div class="nav-chev"></div>
        </div>
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: #ecad7a;"></div>
            <div class="navlink-sm"><a href="/jupiter">jupiter</a></div>
            <div class="nav-chev"></div>
        </div>
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: #fccb6b;"></div>
            <div class="navlink-sm"><a href="/saturn">saturn</a></div>
            <div class="nav-chev"></div>
        </div>
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: #65f0d5;"></div>
            <div class="navlink-sm"><a href="/uranus">uranus</a></div>
            <div class="nav-chev"></div>
        </div>
        <div class="nav-item-wrapper">
            <div class="nav-icon" style="background-color: #497efa;"></div>
            <div class="navlink-sm"><a href="/neptune">neptune</a></div>
            <div class="nav-chev"></div>
        </div>
    </div>
</nav>