/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400&family=Spartan&display=swap');

/* colors */ 

:root {
    --white: #fff;
    --black: #070724;
    --dark-grey: #38384f;
    --light-grey: #838391;
    --mercury-blue: #419ebb;
    --venus-orange: #eda249;
    --earth-purple: #6f2ed6;
    --mars-red: #d14c32;
    --jupiter-red: #d83a34;
    --saturn-tan: #cd5120;
    --uranus-green: #1ec2a4;
    --neptune-blue: #2d68f0; 
    font-size: 62.5%; 
}

.active-Mercury {
    border-bottom: .5rem solid var(--mercury-blue);
    opacity: 1;
}

.active-Venus {
    border-bottom: .5rem solid var(--venus-orange);
    opacity: 1;

}


.active-Earth {
    border-bottom: .5rem solid var(--earth-purple);
    opacity: 1;

}


.active-Mars {
    border-bottom: .5rem solid var(--mars-red);
    opacity: 1;

}


.active-Jupiter {
    border-bottom: .5rem solid var(--jupiter-red);
    opacity: 1;

}


.active-Saturn {
    border-bottom: .5rem solid var(--saturn-tan);
    opacity: 1;

}


.active-Uranus {
    border-bottom: .5rem solid var(--uranus-green);
    opacity: 1;

}


.active-Neptune {
    border-bottom: .5rem solid var(--neptune-blue);
    opacity: 1;

}

.inactive {
    border-bottom: none;
    opacity: .5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--white);
    text-decoration: none;
}


.change-grey {
    opacity: .2;
}

.washed-out {
    opacity: .5;
}

.tabs-lg {
    display: none;
}


/* typogrophy  */

h1, h2{
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

h3, h4, .mobile-tab-link {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 8rem;
    line-height: 10.3rem;
}

h2 {
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: -1.5px;
}

h3, .mobile-tab-link {
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 2.6px;
}

h4, .navlink-bg {
    font-size: 1.1rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

body {
    color: var(--white);
    font-family: 'Spartan', sans-serif;
    font-size: 1.4rem;
    line-height: 2.5rem;
    background: var(--black) url(/img/background-stars.svg)  no-repeat top center;
}





/* buttons  */




/* navbar mobile  */
.logo h2 {
    font-size: 3rem;
}


.navbar-small {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    padding:1.5em;
    border-bottom: 1px solid var(--dark-grey);
}

.hamburger {
    background: var(--black) url(/img/icon-hamburger.svg) no-repeat;
    background-size: cover;
    width: 3rem; height: 2.5rem;
    cursor: pointer;
}

.nav-dropdown {
    width: 100%;
    background-color: var(--black);
}

.nav-wrapper-sm {
    margin: 0 auto;
    width: 90%;
    padding: 1.5em 0;
}

.nav-item-wrapper {
    width: 100%;
    display: flex;
    gap: 3rem;
    padding: 1em 0;
    align-items: flex-end;
    border-bottom: 1px solid var(--dark-grey);
   
}

.nav-icon {
   width: 3rem;
   height: 3rem;
   border-radius: 100px;
}

.navlink-sm, .navlink-bg {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-chev {
    background: url('/img/icon-chevron.svg') center no-repeat;
    width: 2rem; height: 3rem;
    margin-left: auto;
    
}


.mobile-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--dark-grey);
}


.mobile-tab-link {
    padding: 1em .2em;
    cursor: pointer;
    font-size: .8rem;
}



.hide {
    display: none;
}


/* tablet and desktop navbar  */

.navbar-big {
    display: none;
    flex-direction: column;
    padding: 1em;
    border-bottom: 1px solid var(--dark-grey);
}



.nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1em ;
}

.navlink-bg {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}


/* planets styles  */

.content-wrapper, .content-wrapper-b {
    width: 99%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}


.planet-picture {
    display: flex;
    justify-content: center;
    margin: 5.5em 0;
    position: relative;
}

.planet-picture img {
    align-self: center;
}

.pic-mercury {
    width: 29.5%;
}

.pic-venus {
    width: 41.2%;
    
}

.pic-earth {
    width: 46.2%;
}

.pic-mars {
    width: 34.4%;
    
}

.pic-jupiter {
    width: 59.75%;
}

.pic-saturn {
    width: 68.5%;
}

.pic-uranus {
    width: 46.93%;
    
}

.pic-neptune {
    width: 46.1%;
    
}
.overview-txt, .structure-txt, .surface-txt {
    text-align: center;
    padding: 0 1em;
}

.overview-txt h2, .structure-txt h2, .surface-txt h2 {
    padding: 0  0 .5em;
}

.overview-txt small, .structure-txt small, .surface-txt small {
    padding: 2em 0 0;
    display: block;
}

.planet-link {
    opacity: 1;
    font-weight: 600;
    text-decoration: underline;
}

.planet-link::after {
    content: url('/img/icon-source.svg');
    width: 25px; height: 25px;
    padding: .5em;
    position: relative; top: .2rem;
    opacity: 1;
    font-weight: 600;
}

.info-facts {
    width: 90%;
    margin: 0 auto;
    padding: 0 .5em;
}

.info-facts h2 {
    font-size: 2rem;
}

.info-facts h3 {
    font-size: .8rem;
    opacity: .8;
}


.fact, .border-b {
    width: 100%;
    border: .5px solid var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    padding: .5em 1em;
}

.surface-wrapper {
    position: absolute; bottom: 0;
}

.surface-pic {
    width: 56.5px; height: 74.5px;
    position: relative; top: 40px; 
}


@media screen and (min-width: 450px) {
    .surface-pic.pic-saturn {
        top: -10px;
    } 
}

@media screen and (min-width: 768px) {
    .navbar-small {
        display: none;
    }

    .mobile-tabs {
        display: none;
    }

    

    .navbar-big {
        display: flex;
        padding-top: 0;
    }

    .logo {
        margin: 0 auto;
        padding: 1.5em;
    }

    .content-wrapper {
        width: 95%;
    }

    .info-card {
        display: flex;
        gap: 5%;
        padding: 4em 0 0 0 ;
    }

    .tabs-lg {
        display: block;
        width: 45%;
        padding-top: 3em;
    }

    .txt-wrapper {
        width: 50%;
    }

    .info-txt {
        text-align: left;
    }

    .border-b {
        justify-content: flex-start;
        gap: 1em;
        align-items: center;
    }

    .big-tab-link {
        cursor: pointer;
    }

    .big-tab-link h3 {
        font-size: 1rem;
    }

    .active-Mercury {
        background-color: var(--mercury-blue);
    }
    
    .active-Venus {
        background-color: var(--venus-orange);    
    }
    
    
    .active-Earth {
        background-color: var(--earth-purple);
    }
    
    
    .active-Mars {
        background-color: var(--mars-red);
    }
    
    
    .active-Jupiter {
        background-color: var(--jupiter-red);
    }
    
    
    .active-Saturn {
        background-color: var(--saturn-tan);
    }
    
    
    .active-Uranus {
        background-color: var(--uranus-green);
    }
    
    
    .active-Neptune {
        background-color: var(--neptune-blue);
    }
    
    .inactive {
        background-color: transparent;
        opacity: 1;
    }

    .info-facts {
        display: flex;
        gap: 1em;
    }

    .fact {
        flex-direction: column;
        align-items: flex-start;

    }


    .surface-pic {
        width: 76.5px; height: 94.5px;
        position: relative; top: 0px; 
    }

    .surface-pic.pic-mercury {
        top: 55px;
    } 
    
    .surface-pic.pic-saturn {
        top: -60px;
    } 

    
}

@media screen and (min-width: 1200px) {
    .navbar-big {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .logo {
        margin: 0;
        padding: 1.2em 2em;
        font-weight: 200;
    }

    .logo > h2 {
        font-size: 2.5rem;
    }

    .nav-items {
        gap: 2em;
        padding: 0 2em 0 0 ;
    }

    .navlink-bg {
        padding: 2.2em .5em 1em 0;
    }

        
    .nav-active-Mercury:hover {
        border-top: .4em solid var(--mercury-blue);
        padding-top: 1.8em;
    }

    .nav-active-Venus:hover {
        border-top: .4em solid var(--venus-orange);
        padding-top: 1.8em;
    }


    .nav-active-Earth:hover {
        border-top: .4em solid var(--earth-purple);
        padding-top: 1.8em;
    }


    .nav-active-Mars:hover {
        border-top: .4em solid var(--mars-red);
        padding-top: 1.8em;
    }


    .nav-active-Jupiter:hover {
        border-top: .4em solid var(--jupiter-red);
        padding-top: 1.8em;
    }


    .nav-active-Saturn:hover {
        border-top: .4em solid var(--saturn-tan);
        padding-top: 1.8em;
    }


    .nav-active-Uranus:hover {
        border-top: .4em solid var(--uranus-green);
        padding-top: 1.8em;
    }


    .nav-active-Neptune:hover {
        border-top: .4em solid var(--neptune-blue);
        padding-top: 1.8em;
    }

    .content-wrapper {
        flex-direction: row;
        height: 92vh;
        width: 90%;
        padding: 3em ;
    }

    .tabs-lg {
        padding-top: 1em;
    }

    .planet-picture {
        width: 60%;
     
    }

    .info-txt > h2 {
        font-size: 7rem;
        letter-spacing: 5px;
        line-height: 5rem;
    }

    .info-txt > small {
        padding: 4em 0 0;
    }

    .info-card {
        flex-direction: column;
        width: 35%;
        padding: 6em 1em 0;
        margin: 1em 0 2em auto;
        height: 100%;
       
        
      
    }

    .big-tab-link h3 {
        font-size: 1.2rem;
    }

    .big-tab-link {
        padding: .8em 0 .8em 0.5em ;
        width: 90%;
        min-width: 350px;
    }


    .info-facts {
        width: 80%;
        gap: 2em;
        padding: 1em 0 3em;
        opacity: .9;
    }

    .fact {
        border: .3px solid var(--dark-grey);

    }

    .info-facts h2 {
        font-size: 4rem;
        padding: 1.5rem ;
    }
    
    .info-facts h3 {
        font-size: 1rem;
        opacity: .8;
    }
     
    .txt-wrapper, .tabs-lg {
        width: 100%;
    }

    .big-tab-link.border-b {
        border: .5px solid transparent;
    }

    .big-tab-link.inactive{
        border: .5px solid var(--dark-grey);
    }

   .big-tab-link.inactive:hover {
       background-color: var(--dark-grey);
       border-color: transparent;
   }

   .surface-pic {
    width: 163.5px; height: 199.5px;
    position: relative; top: 70px; 
}

.surface-pic.pic-mercury {
    top: 55px;
} 

.surface-pic.pic-saturn {
    top: 70px;
} 



.pic-mercury {
    width: 39%;
    min-width: 290px;
}

.pic-venus {
    width: 41.2%;
    min-width: 400px;
    
}

.pic-earth {
    width: 46.2%;
    min-width: 450px;
}

.pic-mars {
    width: 34.4%;
    min-width: 336px;
    
}

.pic-jupiter {
    width: 59.75%;
    min-width: 582px;
}

.pic-saturn {
    width: 68.5%;
    min-width: 669px;
}

.pic-uranus {
    width: 46.93%;
    min-width: 458px;
    
}

.pic-neptune {
    width: 46.1%;
    min-width: 450px;
    
}
}
